@import '~antd/dist/antd.css';

.Deck-Icons {
  display: flex;
  position: absolute;
  right: 10px;
}

.Deck-Item {
  display: flex;
}

.Card-Inner {
  width: 300px;
}

.Button-Create {
  margin-bottom: 10px;
}

.Form-New-Card {
  margin-bottom: 10px;
}

input { margin-bottom: 5px; }

.Card-Parts {
  display: block;
}

.ant-btn.hard-button {
  background-color: lightpink;
}

.easy-button {
  background-color: lightgreen;
}
