{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        {% if entrypoints %}
          {% for file in entrypoints.css %}
        <link href="{% static file %}" rel="stylesheet">
          {% endfor %}
        {% elif main_css %}
        <link href="{% static main_css %}" rel="stylesheet">
        {% endif %}
        <title>Rekall</title>
      </head>
<body>

  <header>
    <div class="ant-breadcrumb">
      
      <span>
      
      {% if user.is_authenticated %}
      <span class="ant-breadcrumb-link">{{ user.username }}</span>
      <span class="ant-breadcrumb-separator">/</span>
      </span>
      <span>
      <span class="ant-breadcrumb-link">
      <a href="{% url 'logout' %}">logout</a></span>
      <span class="ant-breadcrumb-separator">/</span>
      </span>
      {% else %}
      <span><span class="ant-breadcrumb-link">
      <a href="{% url 'login' %}">login</a></span>
      <span class="ant-breadcrumb-separator">/</span>
      </span><span>      
      <span class="ant-breadcrumb-link">
      <a href="{% url 'signup' %}">signup</a></span>
      <span class="ant-breadcrumb-separator">/</span>
      {% endif %}
      </span>
    </div>


  </header>

  <main>
    {% block content %}
    {% endblock %}
  </main>
  <footer>
    &nbsp&nbsp&nbsp&nbsp Copyright Ishvn 2021
  </footer>
</body>
</html>

