{% extends "base.html" %}

{% block content %}

{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
    {% else %}
    <p>Please login to see this page.</p>
    {% endif %}
{% endif %}

<form id="basic" class="ant-form ant-form-horizontal" method="post" action="{% url 'login' %}">
    {% csrf_token %}
    <div class="ant-row ant-form-item" style="row-gap: 0px;">
        <div class="ant-col ant-col-2 ant-form-item-label">
            <label for="id_username" class="ant-form-item-required" title="Username">
                Username
            </label>
        </div>
        <div class="ant-col ant-col-3 ant-form-item-control">
        <div class="ant-form-item-control-input">
            <div class="ant-form-item-control-input-content">
                <input type="text" name="username" id="id_username" class="ant-input" value="">
        </div></div></div></div>
        <div class="ant-row ant-form-item" style="row-gap: 0px;">
            <div class="ant-col ant-col-2 ant-form-item-label">
                <label for="id_password" class="ant-form-item-required" title="Password">
                    Password
                </label></div>
        <div class="ant-col ant-col-3 ant-form-item-control">
            <div class="ant-form-item-control-input">
                <div class="ant-form-item-control-input-content">
                    <span class="ant-input-affix-wrapper ant-input-password">
                        <input action="click" name="password" id="id_password" type="password" class="ant-input">
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="ant-row ant-form-item" style="row-gap: 0px;">
        <div class="ant-col ant-col-5 ant-col-offset-2 ant-form-item-control">
            <div class="ant-form-item-control-input">
                <div class="ant-form-item-control-input-content">
                    <button type="submit" value="login" class="ant-btn ant-btn-primary">
                    <span>Login</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <input type="hidden" name="next" value="{% url 'index' %}">
</form>


{% endblock %}